@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    font-family: Poppins;
}

:root{
    --primary-color: #005795;
    --primary-darkblue: #1735DD;
    --color-lightblue: #89D9F2;
    --color-lightgrey: #DEE0E7;
    --color-darkgrey: #4A4B4F;

    --max-width: 1440px;

}

a{
    text-decoration: none;
}

/* proyecto */

section{
    height: 85vh;
}

.title-proyecto h1{
    color: #04047C;
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 41px;
    font-weight: 200;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
    margin: 4rem;
}


.proyecto-photo{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

article{
    width: 24%;
}

figure {
    margin: 0;
}

.proyecto_photo {
    position: relative;
}


figure .proyecto-image {
    position: absolute;
    width: 100%;
    height: 55vh;
    filter: brightness(50%);
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.6);
}

.opacity{
    position: absolute;
    width: 100%;
    height: 55vh;
    transition: background 1s, border-radius 0.3s, opacity 1s;
    cursor: pointer;
}

.opacity:hover{
    background-color: #00579581;
}

.absoluta{
    position: absolute;
    text-align: center;
    width: 50%;
    top: 35%;
    left: 25%;
    font-size: 18px;
    font-weight: 800;
    color: white;
    text-shadow: 0 0 8px rgba(0,0,0,0.6);
}

